@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");

.home {
  img {
    display: block;
  }

  .main {
    max-width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .main-image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    animation: translation 2s ease;
    border-bottom-right-radius: 100px;
  }

  .image-background {
    background: #000000;
    background: linear-gradient(135deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 97%, rgba(51, 51, 51, 1) 100%);
  }

  .main-image-text-container {
    position: absolute;
    top: 50%;
    left: 10%;
    translate: 0 -50%;
    width: 25%;
    height: auto;
  }

  .main-image-button {
    background-color: transparent;
    color: white;
    font-size: 3.5rem;
    border: transparent;
    text-decoration: underline;
    width: 100%;
    height: auto;
    font-weight: bold;
  }

  @keyframes translation {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    .services-title {
      text-align: center;
      font-family: "Oleo Script";
      font-weight: 10;
    }

    .service-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .service {
        border-radius: 150px;
        background-color: white;
        width: 70%;
        height: 150px;
        display: flex;
        overflow: hidden;

        @media (max-width: 768px) {
          width: 100%;
        }

        .service-image {
          height: 100%;
          max-width: 25%;
          border-radius: 150px;
          object-fit: cover;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  .line-separator {
    width: 30%;
    height: auto;
  }
}
