.account-container {
  display: flex;
  justify-content: space-evenly;

  .sidebar {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 200px;
    height: 80vh;
    gap: 10vh;
    margin-top: 10vh;

    @media (max-width: 768px){
      width: 130px;
    }
  }

  .account-content {
    width: 500px;
  }

  .active {
    color: burlywood;
  }

  .nav {
    font-family: "EB Garamond";
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 5px;

    &:hover {
      color: gray;
      &.active {
        color: darkgoldenrod;
      }
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
