.bookingImage {
  max-width: 300px;
  max-height: auto;
  cursor: pointer;
}

.bookingVbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  margin: 0 5px;
}

.bookButton {
  max-width: 200px;
  border: 0;
  text-align: center;
}

.booking {
  display: flex;
}
